<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>GameWeek on Rails</h1>

  <h2>
    Home page for the new
    <a target="_blank" href="https://php.radford.edu/~kivey/GameWeek/">GameWeek</a>
    application built on Rails.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", id: "main-btn"%>
</div>
