<% provide(:title, "Leaderboard") %>

<p id="notice"><%= notice %></p>

<div class='tableMain'id="factions-div">
      <div class='container'>
        <table class='tab'>
          <caption><h1><span>Leaderboard<span></h1><caption>
          <tr>
            <th>Username</th>
            <th># Wins</th>
            <th>All-Time Wins</th>
            <th># Weeks Won</th>
            <th colspan='3'></th>
          </tr>
          <tr>
            <td class="first-faction">current-user</td>
            <td>3</td>
            <td>9</td>
            <td>1</td>
            <td></td>
          </tr>
        </table>
      </div> <!-- c -->
    </div> <!-- main -->