<% provide(:title, @user.name) %>

<div class="container-fluid" id="profile-div">
<h1>Profile page for <%=  @user.name %></h1>


  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <section class="user_info">
          <h3>User: <%= @user.name %></h3>
          <h3>Faction: <%= @faction.name %></h3>
          <h3>Current Game: <%= @faction.currentGame %></h3>
          <h3 id="displayName">
            <%= gravatar_for @user %>
          </h3>
        </section>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <h3><a href="/leaderboard">Leaderboard</a></h3>
        <h3><a href="#">Wins</a></h3>
        <h3><a href="#">Weekly Vote</a></h3>
      </div>
    </div>
  </div>
</div>