<% provide(:title, @faction.name) %>

<h1>Editing Faction</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <%= form_for(@faction) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :"Number of Members" %>
      <%= f.number_field :numMembers, class: 'form-control' %>
      
      <%= f.label :"Current Game" %><br />
      <%= f.text_field :currentGame, class: 'form-control'%><br />

      <%= f.label :Administrator %>
      <%= f.text_field :admin, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    
  </div>
</div>