<% provide(:title, "Factions") %>

<p id="notice"><%= notice %></p>

<div class='tableMain'id="factions-div">
      <div class='container'>
        <table class='tab'>
          <caption><h1><span>Listing Factions<span></h1><caption>
          <tr>
            <th>Faction</th>
            <th># Members</th>
            <th>Current Game</th>
            <th>Administrator</th>
            <th colspan='3'></th>
          </tr>
          <% @factions.each do |faction| %>
          <tr>
            <td class="first-faction"><%= faction.name %></td>
            <td><%= faction.numMembers %></td>
            <td><%= faction.currentGame %></td>
            <td><%= faction.admin %></td>
            <td><%= link_to 'Show', faction %></td>
          </tr>
          <% end %>
        </table>
      </div> <!-- c -->
    </div> <!-- main -->

<br>

<%= link_to 'New Faction', new_faction_path %>