<% provide(:title, @faction.name) %>

<div class="row">
  <div class="col-md-6 col-md-offset-4">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @faction.name %>
</p>

<p>
  <strong>Nummembers:</strong>
  <%= @faction.numMembers %>
</p>

<p>
  <strong>Currentgame:</strong>
  <%= @faction.currentGame %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @faction.admin %>
</p>

<%= link_to 'Edit', edit_faction_path(@faction) %> |
<%= link_to 'Back', factions_path %>

</div></div>
