@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */



body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.center.jumbotron {
  background-image: url("https://cdn.vectorstock.com/i/composite/29,57/simple-seamless-pattern-of-tracery-shell-vector-5382957.jpg");
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar.navbar-fixed-top.navbar-inverse {
  background-color: #000080;
}

.navbar.navbar-fixed-top.navbar-inverse li {
  background-color: #000080;
}

#topLink {
  color: #fff;
}

#topLink:hover {
  color: #9494b8;
}

#dropdownmenu {
  background-color: white;
}

#dropdownmenu:hover {
  background-color: #9494b8;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
  border-radius:10px;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input[type="text"] {
    width: 350px;
}

#user_faction_id {
  width: 350px;
}

input[type="email"] {
    width: 350px;
}

input[type="number"] {
    width: 350px;
}

input[type="password"] {
    width: 350px;
}

input[type="submit"] {
    width: 350px;
}

input {
  height: auto !important;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Factions CSS */


#factions-table {
    border: 1px solid black;
}

.factions-row {
    padding: 10px;
}



.tableMain {
  min-width: 300px;
  padding: 25px;
  height: 400px;
  border-bottom: solid 1px gray;
}

.tab {
  width: 50%;
  border-spacing: 15px;
  margin-right: auto;
  margin-left: auto;
}

th {
   border-bottom: solid 1px #995C3D;
}

td {
    text-align: center;
    padding-top: 10px;
}

.first-faction {
    text-align: left;
}

.hidden {
  visibility: hidden;
  padding: 0px;
  margin: 0px;
}

#factions-div {
    background-color: #cce5e5;
    border-top: 1px solid black;
    border-radius: 15px;
}