// Place all the styles related to the Factions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#factions-table {
    border: 1px solid black;
}

.factions-row {
    padding: 10px;
}



.tableMain {
  min-width: 300px;
  padding: 25px;
  height: 400px;
  border-bottom: solid 1px gray;
}

.tab {
  width: 50%;
  border-spacing: 15px;
  margin-right: auto;
  margin-left: auto;
}

th {
   border-bottom: solid 1px #995C3D;
}

td {
    text-align: center;
    padding-top: 10px;
}

.first-faction {
    text-align: left;
}

.hidden {
  visibility: hidden;
  padding: 0px;
  margin: 0px;
}

#factions-div {
    background-color: #cce5e5;
    border-top: 1px solid black;
    border-radius: 15px;
}