// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile-div {
    background-color: #cce5e5;
    border-top: 1px solid black;
    border-radius: 15px;
}