<footer class="footer">
  <small>
    By <a target="_blank" href="http://www.kevinivey.com/">Kevin Ivey</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a target="_blank" href="http://www.reddit.com/">News</a></li>
    </ul>
  </nav>
</footer>