<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Game Week", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path, id: "topLink" %></li>
            <li><%= link_to "Help",   help_path, id: "topLink" %></li>
            <% if logged_in? %>
              <li><%= link_to "Users", users_path, id: "topLink" %></li>
              <li><%= link_to "Factions", factions_path, id: "topLink" %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="topLink" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user, id: "dropdownmenu" %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user), id: "dropdownmenu" %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete", id: "dropdownmenu" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Log in", login_path, id: "topLink" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
</header>